.taskFormContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
}

.addTaskForm {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.taskInput {
    padding: 4px 8px;
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    background-color: hsl(0, 4%, 95%);
}

.priority{
    font-size: 0.9em;
    padding: 4px 8px;
    color: hsl(0, 0%, 50%);
    border-radius: 5px;
}

.formActions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.addTaskBtn{
    color: hsl(0, 0%, 100%);
    background-color: hsl(23, 83%, 53%);
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
}

.errMsg{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(23, 83%, 53%);
}