.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 24px;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
}

.addTaskForm {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.taskInput {
    padding: 4px 8px;
    font-size: 0.9em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    background-color: hsl(0, 4%, 95%);
}

.priority{
    font-size: 0.9em;
    padding: 4px 8px;
    color: hsl(0, 0%, 50%);
    border-radius: 5px;
}

.formActions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.addTaskBtn{
    color: hsl(0, 0%, 100%);
    background-color: hsl(23, 83%, 53%);
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
}

.errMsg{
    font-size: 1em;
    font-family: roboto;
    font-weight: 400;
    color: hsl(23, 83%, 53%);
}

@media (min-width: 320px) and (max-width: 480px){
    .addTaskForm {
        flex-direction: column;
    }
}